In [1]:
import pandas as pd

In [2]:
# reading the data
energy_df = pd.read_csv('data/energy.csv')
water = pd.read_csv('data/wc.csv')

In [7]:
print(len(energy_df))
energy_df.head(
    
)

366

,name,datetime,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,dew,humidity,...,solarenergy,uvindex,severerisk,sunrise,sunset,moonphase,conditions,description,icon,stations
0,alexandria egypt,2022-01-01,17.0,6.0,11.8,17.0,6.0,11.8,10.0,88.1,...,12.2,6,NaN,2022-01-01T06:59:09,2022-01-01T17:08:45,0.95,"Rain, Partially cloudy",Partly cloudy throughout the day with morning ...,rain,"62318099999,62360199999,HEAX,HEBA"
1,alexandria egypt,2022-01-02,19.0,9.0,14.3,19.0,7.6,14.2,11.4,83.7,...,9.6,5,NaN,2022-01-02T06:59:22,2022-01-02T17:09:29,0.00,"Rain, Partially cloudy",Partly cloudy throughout the day with rain.,rain,"62318099999,62360199999,HEAX,HEBA"
2,alexandria egypt,2022-01-03,20.1,13.0,15.8,20.1,13.0,15.8,12.0,78.7,...,11.8,6,NaN,2022-01-03T06:59:33,2022-01-03T17:10:14,0.02,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"62318099999,62360199999,HEAX,HEBA"
3,alexandria egypt,2022-01-04,18.1,12.0,15.4,18.1,12.0,15.4,11.2,76.4,...,9.8,5,NaN,2022-01-04T06:59:43,2022-01-04T17:10:59,0.05,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"62318099999,62360199999,HEAX,HEBA"
4,alexandria egypt,2022-01-05,19.9,9.0,14.6,19.9,7.3,14.6,10.4,75.2,...,12.9,6,NaN,2022-01-05T06:59:51,2022-01-05T17:11:45,0.09,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"62318099999,62360199999,HEAX,HEBA"

In [4]:
water.head()

,LANDUSE_TYPE,USER,PIPE DIAM,VENDOR,JAN16,2009-01,2009-02,2009-03,2009-04,2009-05,...,2015-03,2015-04,2015-05,2015-06,2015-07,2015-08,2015-09,2015-10,2015-11,2015-12
0,H3,DOMESTICO MEDIO,0.5,MSDELAUNET,197.0,20,20,20,20,20,...,2,1,2,1,7,7,42,27,22,21
1,H3,DOMESTICO RESIDENCIAL,0.5,NaN,NaN,20,20,20,20,20,...,27,27,27,28,28,31,27,27,27,24
2,H3,DOMESTICO MEDIO,0.5,NaN,NaN,20,20,20,20,20,...,19,19,18,18,19,19,19,18,18,24
3,H3,DOMESTICO RESIDENCIAL,0.5,NaN,NaN,20,20,20,20,20,...,17,17,17,17,17,17,17,17,17,24
4,H3,DOMESTICO RESIDENCIAL,0.5,CICASA MMD-15 S,702.0,30,10,30,20,30,...,14,15,26,27,29,22,27,26,33,32

In [5]:
import tensorflow as tf

C:\Users\bedo7\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.17.3 and <1.25.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [6]:
import numpy as np